.menu4 {
	position: relative;
	z-index: 100;
	clear: both;
	float: left;
	height: auto;
	margin-top: 19px;
	width: 90%;
	margin-left: 25px;
}


.menu4 ul {
	margin: 0px;
	padding: 0px;
	float:left;
}

.menu4 ul li {
	margin: 0px;
	padding: 0px;
	float: left;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #FFF;
	padding-right: 16px;
	padding-left: 16px;
}

.menu4 li:last-child {
	margin: 0;
	border-bottom-width: 0px;
	border-bottom-style: none;
	border-bottom-color: #00f;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
}

.menu4 ul li a {
	font-size: 13px;
	text-transform: uppercase;
	color: #FFF;
	float: left;
	text-align: center;
	height: auto;
	font-weight: bold;
	
}

.menu4 ul li:hover a {
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #7fb518;
}

.menu4 #active{
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #7fb518;
	 }

.menu4 ul li ul {
	display: none;
}

.menu4 table {
	margin:-1px;
	border-collapse:collapse;
	font-size:1em;
}


.menu4 ul li:hover ul {
	display:block;
	position:absolute;
	top:11px;
	margin-top:1px;
	left:184;
	width: 162px !important;
	height:auto;
	float: left;
	padding-top:22px;
	padding-bottom:5px;
	margin-left:-15px;	
}

.menu4 ul li:hover ul li ul {
	display: none;
}

.menu4 ul li:hover ul li{
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin: 0px;
	padding: 0px;
}

.menu4 ul li:hover ul li a {
	display: block;
	color: #3e3e3e;
	width: 90px;
	padding-top: 12px;
	padding-bottom: 12px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFF;
	text-align: left;
	font-size: 11px;
	float: left;
	padding-left: 10px;
	background-repeat: no-repeat;
	background-position: right center;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #FFF;
}

.menu4 ul li:hover ul li a.drop {
	  border-top: 0px solid #57577B !important;

   
}

.menu4 ul li:hover ul li:hover a {
	background-image: url(../images/arow-g.png);
	border-top-color: #747676;
	border-bottom-color: #747676;
}

.menu4 ul li:hover ul li:hover a.drop {
	
}

.menu4 ul li:hover ul li:hover ul {
	display:block;
	position:absolute;
	left:135px;
	top:0px;
	width:111px;
}

.menu4 ul li:hover ul li:hover ul li{
	border-top-width: 0px;
	border-top-style: solid;
	border-top-color: #57577B;	
	}

.menu4 ul li:hover ul li:hover ul li a {
	display:block;
	color:#FFF;
	height:auto;
	line-height:15px;
	width:111px;
	background-color: #373a3f;
	background-image: none;
	padding-top: 8px;
	padding-right: 10px;
	padding-bottom: 8px;
	padding-left: 10px;
	border:none;
}

.menu4 ul li:hover ul li:hover ul li:hover a {
	background:#a2a7be;
	color:#fff;
}






.menu4 ul li a:hover ul {
	display:block;
	position:absolute;
	top:29px;
	left:0;
	background:#eee;
	margin-top:0;
	marg\in-top:1px;
}

.menu4 ul li a:hover ul li a {
	display:block;
	background:#ddd;
	color:#000;
	height:30px;
	hei\ght:20px;
	line-height:15px;
	padding:5px 10px;
	width:151px;
	w\idth:129px;
}

.menu4 ul li a:hover ul li a.drop {
	
}

.menu4 ul li a:hover ul li a ul {
	visibility:hidden;
	position:absolute;
	height:0;
	width:0;
}

.menu4 ul li a:hover ul li a:hover {
	background:#888;
	color:#fff;
}

.menu4 ul li a:hover ul li a.drop:hover {
	
}

.menu4 ul li a:hover ul li a:hover ul {
	visibility:visible;
	position:absolute;
	top:0;
	t\op:-1px;
	color:#000;
	left:150px;
}

hr {
	clear:both;
	margin-bottom:30px;
}

.left {
	clear:both;
}
.blue-arow {
	margin-top: 7px;
	float: right;
	margin-left: 9px;
}
