@model Plenum.Models.PlenumPageDataModel

@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = Model.Page.Name;
    ViewBag.MetaKeywords = Model.Page.GetFieldValue("MetaKeywords");
    ViewBag.MetaDescription = Model.Page.GetFieldValue("MetaDescription");
}


<div class="box-full">

    <div class="left-box">
        <div class="left-link-box">
            <div class="left-heading">
                <div class="left-heading-text">Nuestras categor&iacute;as</div>
            </div>
            <div class="left-ul-link">
                <ul>
                    <li><a href="#">Camisetas</a></li>
                    <li><a href="#">Tecnolog&iacute;a</a></li>
                    <li><a href="#">Art&iacute;culos deportivos</a></li>
                    <li><a href="#">Perfmer&iacute;a</a></li>
                    <li><a href="#">Mascotas</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="right-box">

        <div class="right-border-box">

            <div class="box-197">
                <div class="sale-box">SALE</div>
                <div class="sale-box1">DESTACADOS</div>
                <div class="border-b"></div>
                <div class="border-b1"></div>
                <!-- <div class="up-to">UPTO 20% OFF SALE</div> -->
                <div class="border-b1"></div>                
            </div>



            <div class="box-665">





                <div class="box-202">
                    <div class="box-img-101">
                        <img src="/content/images/img1.png" border="0" align="left" />
                        <div class="p-rixe">$100.00</div>
                    </div>
                    <div class="heading-p">Lorem ipsum</div>

                    <div class="gr-box"><span class="font-size20">30% </span><strong class="font-size21">OFF</strong></div>

                    <div class="gr-box0">
                        Etiam congue, arcu vel vierra inted
vierra inted
                    </div>

                </div>



                <div class="box-202">
                    <div class="box-img-101">
                        <img src="/content/images/img2.png" border="0" align="left" />
                        <div class="p-rixe">$100.00</div>
                    </div>
                    <div class="heading-p1">Lorem ipsum</div>

                    <div class="gr-box1"><span class="font-size20">15% </span><strong class="font-size21">OFF</strong>  <span class="font-size22">Ael vierra inted</span></div>

                    <div class="gr-box0">
                        Etiam congue, arcu vel vierra inted
vierra inted
                    </div>

                </div>



                <div class="box-202">
                    <div class="box-img-101">
                        <img src="/content/images/img3.png" border="0" align="left" />
                        <div class="p-rixe">$100.00</div>
                    </div>
                    <div class="heading-p2">Lorem ipsum</div>

                    <div class="gr-box2"><span class="font-size20">25% </span><strong class="font-size21">OFF</strong>  <span class="font-size22">Arcu vel vierra i</span></div>

                    <div class="gr-box0">
                        Etiam congue, arcu vel vierra inted
vierra inted
                    </div>

                </div>




                <div class="box-202">
                    <div class="box-img-101">
                        <img src="/content/images/img4.png" border="0" align="left" />
                        <div class="p-rixe">$100.00</div>
                    </div>
                    <div class="heading-p">Lorem ipsum</div>

                    <div class="gr-box3"><span class="font-size20">35% </span><strong class="font-size21">OFF</strong>  <span class="font-size22">BUY ON  DENIM</span></div>

                    <div class="gr-box0">
                        Etiam congue, arcu vel vierra inted
vierra inted
                    </div>

                </div>



                <div class="box-202">
                    <div class="box-img-101">
                        <img src="/content/images/img5.png" border="0" align="left" />
                        <div class="p-rixe">$100.00</div>
                    </div>
                    <div class="heading-p4">Lorem ipsum</div>

                    <div class="gr-box4"><span class="font-size20">20% </span><strong class="font-size21">OFF</strong>  <span class="font-size22">BUY ON 2 T SHIRTS</span></div>

                    <div class="gr-box0">
                        Etiam congue, arcu vel vierra inted
vierra inted
                    </div>

                </div>



                <div class="box-202">
                    <div class="box-img-101">
                        <img src="/content/images/img6.png" border="0" align="left" />
                        <div class="p-rixe">$100.00</div>
                    </div>
                    <div class="heading-p5">Lorem ipsum</div>

                    <div class="gr-box5"><span class="font-size20">10% </span><strong class="font-size21">OFF</strong>  <span class="font-size22">BUY ON 2  SHORTS</span></div>

                    <div class="gr-box0">
                        Etiam congue, arcu vel vierra inted
vierra inted
                    </div>

                </div>







            </div>


        </div>

    </div>



</div>

<div class="footer-product">

    <div class="left-bar">
        <img src="/content/images/ex.png" width="198" height="194" border="0" align="left" />
        <img src="/content/images/ex1.png" width="198" border="0" align="left" />
    </div>



    <div class="middel-box">

        <div class="first-product">

            <div class="heading-first">
                <div class="product-headind-text">crazy deals</div>
                <div class="arow-right">
                    <img src="/content/images/arow.png" width="52" height="30" border="0" align="right" />
                </div>
            </div>

            <div class="product-main">


                <div class="first-product1">
                    <div class="imag-product">
                        <div class="product-prize">
                            <div class="box-61">
                                <div class="prize-p">$120.00</div>
                            </div>
                        </div>
                        <img src="/content/images/product1.png" width="100%" border="0" align="left" />
                    </div>
                    <div class="product-name">Lorem ipsum dolor</div>
                    <div class="product-name1">Lorem ipsum dolor siamr id tempor  Curabitur iac Lorem ipsum dolor siamr id </div>
                    <a href="#" class="click-here1">Add to cart</a>
                </div>


                <div class="first-product1">
                    <div class="imag-product">
                        <div class="product-prize">
                            <div class="box-61">
                                <div class="prize-p">$120.00</div>
                            </div>
                        </div>
                        <img src="/content/images/prduct2.png" width="100%" border="0" align="left" />
                    </div>
                    <div class="product-name">Lorem ipsum dolor</div>
                    <div class="product-name1">Lorem ipsum dolor siamr id tempor  Curabitur iac Lorem ipsum dolor siamr id </div>
                    <a href="#" class="click-here1">Add to cart</a>
                </div>


                <div class="first-product1">
                    <div class="imag-product">
                        <div class="product-prize">
                            <div class="box-61">
                                <div class="prize-p">$120.00</div>
                            </div>
                        </div>
                        <img src="/content/images/product3.png" width="100%" border="0" align="left" />
                    </div>
                    <div class="product-name">Lorem ipsum dolor</div>
                    <div class="product-name1">Lorem ipsum dolor siamr id tempor  Curabitur iac Lorem ipsum dolor siamr id </div>
                    <a href="#" class="click-here1">Add to cart</a>
                </div>


                <div class="first-product1">
                    <div class="imag-product">
                        <div class="product-prize">
                            <div class="box-61">
                                <div class="prize-p">$120.00</div>
                            </div>
                        </div>
                        <img src="/content/images/product4.png" width="100%" border="0" align="left" />
                    </div>
                    <div class="product-name">Lorem ipsum dolor</div>
                    <div class="product-name1">Lorem ipsum dolor siamr id tempor  Curabitur iac Lorem ipsum dolor siamr id </div>
                    <a href="#" class="click-here1">Add to cart</a>
                </div>



            </div>

        </div>





        <div class="first-product">

            <div class="heading-first">
                <div class="product-headind-text">what' s hot</div>
                <div class="arow-right">
                    <img src="/content/images/arow.png" width="52" height="30" border="0" align="right" />
                </div>
            </div>

            <div class="product-main">


                <div class="first-product1">
                    <div class="imag-product">
                        <img src="/content/images/product5.png" width="100%" border="0" align="left" />
                    </div>
                    <div class="product-name">Lorem ipsum  <span class="p-prize">$120.00</span></div>
                    <div class="product-name1">Lorem ipsum dolor siamr id tempor  Curabitur iac Lorem ipsum dolor siamr id </div>
                    <a href="#" class="click-here1">Add to cart</a>
                </div>


                <div class="first-product1">
                    <div class="imag-product">
                        <img src="/content/images/product6.png" width="100%" border="0" align="left" />
                    </div>
                    <div class="product-name">Lorem ipsum  <span class="p-prize">$120.00</span></div>
                    <div class="product-name1">Lorem ipsum dolor siamr id tempor  Curabitur iac Lorem ipsum dolor siamr id </div>
                    <a href="#" class="click-here1">Add to cart</a>
                </div>


                <div class="first-product1">
                    <div class="imag-product">
                        <img src="/content/images/product7.png" width="100%" border="0" align="left" />
                    </div>
                    <div class="product-name">Lorem ipsum  <span class="p-prize">$120.00</span></div>
                    <div class="product-name1">Lorem ipsum dolor siamr id tempor  Curabitur iac Lorem ipsum dolor siamr id </div>
                    <a href="#" class="click-here1">Add to cart</a>
                </div>


                <div class="first-product1">
                    <div class="imag-product">
                        <img src="/content/images/product8.png" width="100%" border="0" align="left" />
                    </div>
                    <div class="product-name">Lorem ipsum  <span class="p-prize">$120.00</span></div>
                    <div class="product-name1">Lorem ipsum dolor siamr id tempor  Curabitur iac Lorem ipsum dolor siamr id </div>
                    <a href="#" class="click-here1">Add to cart</a>
                </div>



            </div>

        </div>





        <div class="socal-box">

            <div class="box-217">
                <div class="facebook-h1">
                    <div class="f1">facebook</div>
                </div>
                <div class="socal-f">
                    <div class="face-boox">
                        <img src="/content/images/f1.png" width="23" height="24" border="0" align="left" />
                        <div class="f1-t">Fusce bibendum sapien nec sagittis porta. Vivamus vel nisi augue. 	</div>
                    </div>

                    <div class="face-boox">
                        <img src="/content/images/f2.png" width="23" height="24" border="0" align="left" />
                        <div class="f1-t">Fusce bibendum sapien nec sagittis porta. Vivamus vel nisi augue. 	</div>
                    </div>

                </div>
            </div>




            <div class="box-217">
                <div class="facebook-h2">
                    <div class="f2">twitter</div>
                </div>
                <div class="socal-f">
                    <div class="face-boox">
                        <img src="/content/images/f1.png" width="23" height="24" border="0" align="left" />
                        <div class="f1-t">Fusce bibendum sapien nec sagittis porta. Vivamus vel nisi augue. 	</div>
                    </div>

                    <div class="face-boox">
                        <img src="/content/images/f2.png" width="23" height="24" border="0" align="left" />
                        <div class="f1-t">Fusce bibendum sapien nec sagittis porta. Vivamus vel nisi augue. 	</div>
                    </div>

                </div>
            </div>



            <div class="box-217">
                <div class="facebook-h3">
                    <div class="f3">pinterest</div>
                </div>
                <img src="/content/images/pa1.png" width="208" height="103" class="pa1" />

            </div>



        </div>




        <div class="footer-blue">
            <div class="need">Need assistance ?</div>
            <a href="#" class="click-here-l">Click here</a>
        </div>





    </div>




    <div class="right-bar">

        <div class="add3">
            <div class="add-heading">ARE YOU SUPPPILER ?</div>
            <div class="add-heading1">
                Lorem ipsum dolor sit<br />
                amet, con
            </div>
            <a href="#" class="click-here">Click here</a>
        </div>

        <div class="add1">
            <div class="add1-tx">
                Did you know bicycle was<br />
                invented in 1817
            </div>
            <a href="#" class="add-read">Read More</a>
        </div>

        <div class="add2">
            <div class="add1-tx">
                Did you know soccer has<br />
                its roots in china
            </div>
            <a href="#" class="add-read">Read More</a>
        </div>

    </div>


</div>
